# Node.js
node_modules/
backend/uploads/
backend/database.sqlite
backend/database.sqlite-journal

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# React Vite
frontend/dist/
frontend/node_modules/
frontend/.eslintcache

# Env
.env

# OS
.DS_Store
Thumbs.db
